[submodule "tools/bindings-generator"]
	path = tools/bindings-generator
	url = https://github.com/cocos2d/bindings-generator.git
[submodule "tools/cocos2d-console"]
	path = tools/cocos2d-console
	url = https://github.com/cocos2d/cocos2d-console.git
